  /* ====================================
  Burger king
  ==================================== */
  
  .open-overlay {
    position: absolute;
    right: 5rem;
    top: 3.2rem;
    z-index: 100;
    width: 34px;
    display: block;
    cursor: pointer;
  }
  
  .open-overlay span {
    display: block;
    height: 1px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .animate-top-bar {
    -webkit-animation: animate-top-bar .6s linear 1 both;
    animation: animate-top-bar .6s linear 1 both
  }
  
  .animate-bottom-bar {
    -webkit-animation: animate-bottom-bar .6s linear 1 both;
    animation: animate-bottom-bar .6s linear 1 both
  }
  
  .animate-middle-bar {
    -webkit-animation: animate-middle-bar .6s linear 1 both;
    animation: animate-middle-bar .6s linear 1 both
  }
  
  .animate-out-top-bar {
    -webkit-animation: animate-out-top-bar .6s linear 1 both;
    animation: animate-out-top-bar .6s linear 1 both
  }
  
  .animate-out-bottom-bar {
    -webkit-animation: animate-out-bottom-bar .6s linear 1 both;
    animation: animate-out-bottom-bar .6s linear 1 both
  }
  
  .animate-out-middle-bar {
    -webkit-animation: animate-out-middle-bar .6s linear 1 both;
    animation: animate-out-middle-bar .6s linear 1 both
  }
  
  
  /* ====================================
  Animation keyframes
  ==================================== */
  
  @keyframes animate-top-bar {
    0% {
      background-color: #fff;
    }
    50% {
      -webkit-transform: translateY(9px);
      transform: translateY(9px)
    }
    80% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      background-color: #fff
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: #29363B;
    }
  }
  
  @keyframes animate-bottom-bar {
    0% {
      background-color: #fff;
    }
    50% {
      -webkit-transform: translateY(-9px);
      transform: translateY(-9px)
    }
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      background-color: #fff;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: #29363B;
    }
  }
  
  @keyframes animate-middle-bar {
    0% {
      background-color: #fff;
    }
    80% {
      background-color: #fff;
    }
    100% {
      background-color: #29363B;
    }
  }
  
  @keyframes animate-out-top-bar {
    0% {
      background-color: #29363B
    }
    50% {
      -webkit-transform: translateY(9px);
      transform: translateY(9px)
    }
    80% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      background-color: #29363B
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: #FFF;
    }
  }
  
  @keyframes animate-out-bottom-bar {
    0% {
      background-color: #29363B
    }
    50% {
      -webkit-transform: translateY(-9px);
      transform: translateY(-9px)
    }
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      background-color: #29363B;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: #FFF;
    }
  }
  
  @keyframes animate-out-middle-bar {
    0% {
      background-color: #29363B
    }
    80% {
      background-color: #29363B;
    }
    100% {
      background-color: #fff;
    }
  }